<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/<%= css %>" type="text/css" rel="stylesheet">
    <title>Person Form</title>
</head>

<body>
    <form action="/result" method="post">
        <label for="nameInput">Name:<input type="text" id="nameInput" name="name" required></label>
        <label for="ageInput">Age:<input type="number" id="ageInput" name="age" required></label>
        <input type="submit" value="Submit Query">
    </form>
</body>

</html>